.search-box{
    background: url("https://images.unsplash.com/photo-1660497334766-70c58b3d391e");
    margin-top: 1%;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position-x: center;
background-position-y: center;
filter: brightness(60%);
position: relative;
}


.box2{ 
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
    
}

.box1{
     width: 60%;
     text-align: left;
     margin-left: 20%;
     padding-top: 12%;
     line-height: 40px;
    
}  



@media(((max-width: 800px))){

    .box2{
        display: none;
    }
    .inner-div{
        width: 40%;
        font-size: 10px;
    }

    .search-box{
        background: url("https://images.unsplash.com/photo-1660497334766-70c58b3d391e");
        margin-top: 1%;
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position-x: center;
    background-position-y: center;
    filter: brightness(60%);
    position: relative;
    }

     
}